{@cz.amuradon.tralon.newlisting.analyzer.TimeSeries[] timeSeries}

<div id="container" style="width:100%; height:800px;"></div>
<script>
// 	Highcharts.chart('container', {
	Highcharts.stockChart('container', {
		
	    title: {
	        text: 'Token price'
	    },
	
	    series: [{
	        name: 'Token price',
	        data: [
	        	{#for series in timeSeries}
	        		[{series.timestamp}, {series.value}],
	          	{/for}
	        ],
	        lineWidth: 0,
	        marker: {
                enabled: true,
                radius: 2
            },
            tooltip: {
                valueDecimals: 6
            },
            states: {
                hover: {
                    lineWidthPlus: 0
                }
            }
	    }]
	
	});
</script>