{@cz.amuradon.tralon.newlisting.analyzer.TimeSeries[] timeSeries}

<div id="container" style="width:100%; height:800px;"></div>
<script>
	Highcharts.chart('container', {
		
		chart: {
	        zooming: {
	            type: 'x'
	        }
	    },
	
	    title: {
	        text: 'Token price',
	        align: 'left'
	    },
	
	    yAxis: {
	        title: {
	            text: 'Price'
	        }
	    },
	
	    xAxis: {
	    	title: {
	            text: 'Time'
	        }
	    },
	
	   /*  plotOptions: {
	        series: {
	            label: {
	                connectorAllowed: false
	            },
	            pointStart: 2010
	        }
	    }, */
	
	    series: [{
	        name: 'Token price',
	        data: [
	        	{#for series in timeSeries}
	        		[{series.timestamp}, {series.value}],
	          	{/for}
	        ]
	    }],
	
	    responsive: {
	        rules: [{
	            condition: {
	                maxWidth: 500
	            },
	            chartOptions: {
	                legend: {
	                    layout: 'horizontal',
	                    align: 'center',
	                    verticalAlign: 'bottom'
	                }
	            }
	        }]
	    }
	
	});
</script>