{@java.lang.String[] fileNames}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Chart</title>
  <script src="https://unpkg.com/htmx.org@2.0.4"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/stock/modules/stock.js"></script>
</head>
<body>
<select name="filePath" id="select" hx-get="/charts/chart" hx-target="#chart-div" hx-include="this">
	<option value="none">--None--</option>
  {#for name in fileNames}
	<option value="{name}">{name}</option>
  {/for}
</select>
<div id="chart-div" style="width:100%; height:800px;">
No chart selected
</div>
</body>
</html>